
<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="utf-8">
        <title>Top Manager</title>
        <link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="public/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="public/styles.css">
    </head>
    <body>
      <br><br>
        {{{body}}}
    </body>
    <hr class="none">
    <footer class="text-center">
        <div>
            <a href="https://facebook.com/sogaxacale" target="_blank"><i class="fa fa-facebook-square font-size"></i></a>
            <a href="https://github.com/cale312" target="_blank"><i class="fa fa-github-square font-size"></i></a>
            <a href="https://instagram.com/sogaxa_zikisa" target="_blank"><i class="fa fa-instagram font-size"></i></a>
        </div>
        site By: Zikisa Cale Sogaxa
    </footer>
</html>
