<div class="container text-center">
  <h1>Top Manager</h1>
  <form class="" action="/login">
    <a href="/login"><input type="button" name="login" value="manage team" class="btn btn-primary"></a>
  </form>
</div>
