<div class="container text-center">
  <br><br><br>
  <h1 class="heading">TOP
    <br>MANAGER</h1>
    <hr class="">
  <form class="" action="/login">
    <a href="/login"><input type="button" name="login" value="manage team" class="btn btn-primary begin-btn"></a>
  </form>
</div>
