<div class="container text-center">
  <form class="form-group" method="post" action="/login">
    <div class="well login-field">
      <input type="text" name="username" placeholder="username" class="form-control">
      <br>
      <input type="password" name="password" placeholder="password" class="form-control">
      <br>
      <input type="submit" name="login" value="login" class="btn btn-primary">
      <input type="submit" name="register" value="register" class="btn btn-primary">
    </div>
  </form>
</div>
