<div class="container">
  <form class="form-group text-center" action="/register" method="post">
    <div class="well registration-field">
      <input type="text" name="name" value="" placeholder="name" class="form-control">
      <br>
      <input type="text" name="gender" value="" placeholder="gender" class="form-control">
      <br>
      <input type="text" name="age" value="" placeholder="age" class="form-control">
      <br>
      <input type="email" name="email" value="" placeholder="email" class="form-control">
      <br>
      <input type="submit" name="register" value="register" class="btn btn-primary">
    </div>
  </form>
</div>
