<div class="container main">
  <div class="row">
    <div class="well col-md-4">
      <h2>{{manager}}</h2>
      <hr>
      <p>XP: </p>
    </div>
    <div class="col-md-8">
      <h2>My Team</h2>
    </div>
  </div>
</div>
